<ion-view title="Register step two">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="backToStepOne()">Back</button>
    </ion-nav-buttons>
    <ion-content>
        <form ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="nick" ng-model="registerData2.nick">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="password" ng-model="registerData2.password">
                </label>
            </div>
            <div class="row">
                <button class="button button-block button-positive" type="submit">Finish</button>
            </div>
        </form>
    </ion-content>
</ion-view>